.panel-box {
    min-width: 100vw;
    min-height: 100vh;
    &__details {
      position: absolute;
      top: 15%;
      left: calc(50% + 7.5vw);
      transform: translateX(-50%);
    }
  }
  @media (min-width: 768px) {
    .panel-box {
      &__details {
        top: 20%;
        left: calc(50% + 10vw);
      }
    }
  }
  @media (min-width: 1400px){
    .panel-box {
      &__details {
        left: 50%;
      }
    }
  }